{
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"printWidth": 120
}
